body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
}

.headercard{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-size: 24px;
    padding-left: 50px;
    color: #F9FAF8;
}

.titlecard {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
}

.imagepara {
    display: flex;
    justify-content: center;
    background-color: grey;
}

.maintitletext {
    font-size: 48px;
}

.imagecard {
    flex: 1 0 50%;
    background-color: #1F2937;
}

.cardcard {
    display: flex;
}

.quotecard {
    background-color: lightgray;
}

.callcard {
    display: flex;
    background-color: cornflowerblue ;
}

.colorcard {
    display: flex;
    flex-direction: column;
}
.links {
    display: flex;
    color: #F9FAF8;
    font-size: 18px;
}

.square {
    border: solid 5px dodgerblue;
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }

 .header {
    color: #F9FAF8;
 }

 .footer {
    background-color: #1F2937;
 }