body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    padding: 20px;
}

p {
    margin: 0;
}

ul {
    list-style: none;
}

.button1 {
    background-color: #3882F6;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.button2 {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    max-height: 2em;
    white-space: nowrap;
    
}

.headercard{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    font-size: 24px;
    padding-left: 50px;
    color: #F9FAF8;
}

.titlecontainer {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
}

.titlecard {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-evenly;
    padding: 3em;

}
.wordcard {
}

.imagecard {
}

.imagepara {
    display: flex;
    justify-content: center;
    background-color: grey;
    padding: 3em;
}

.maintitletext {
    font-size: 48px;
    font: bold;
}

.subtitletext {
    font-size: 18px;
    font: #E5E7EB
}

.imagecard {
    display: flex;
    background-color: grey;
    padding: 3em;
    align-self: flex-start;
}

.wordcard {
    width: 30%;
    min-width: 350px;
}

.random {
    display: flex;
    justify-content: center;
}

.randombox {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardcard {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
}

.card {
    max-width: 10em;

}

.quotecard {
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.whitespace {
    display: flex;
    justify-content: center;
}

.callcard {
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    width: 75%;
    height: 90;
    gap: 5em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2em;
    border-radius: 5px;
    min-width: 30em;
    max-width: 50em;
    color: #F9FAF8;
    margin: 40px;
}

.cardbutton {
    align-self: center;

}

.cardtext p {
    margin:0;
}

.colorcard {
    display: flex;
    flex-direction: column;
}
.links {
    display: flex;
    color: #F9FAF8;
    font-size: 18px;
    gap: 1em;
}

.square {
    border: solid 5px dodgerblue;
    width: 120px;
    height: 120px;
    border-radius: 10px;
  }

 .header {
    color: #F9FAF8;
 }

 .footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: auto;
 }

.quote {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 90%;
}

figcaption {
    align-self: flex-end;
    font-size: 36px;
    font-style: italic;
}

blockquote {
    font-size: 36px;
    font-style: italic;

}